﻿

<div class="signup-page">
    <div ng-controller="LoginHeaderCtrl">
        <div ng-include src="header.url"></div>
        <script type="text/ng-template" id="LoginHeaderBar.html">
        </script>
    </div>

    <div class="page-header header-filter" filter-color="purple" style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="height:390px">
                    <!--      Wizard container        -->
                    <div class="row row-divided">
                        <div class="col-lg-6  text-center rightspan" style="height: 410px;">
                            <div class="col-md-12">
                                <a class="card card-profile card-plain" ng-click="manageSingup()">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <span href="#pablo">
                                                <img class="img" src="assets/img/faces/card-profile1-square.jpg" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-content">
                                            <h2 class="card-title">Manage your event</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!--<h3>Create Your Own Event By Your Way</h3>
                            <button class="btn btn-primary btn-round">Create Event</button>-->
                            <div class="col-md-12">
                                <a class="card card-profile card-plain" ng-click="employerSingup()">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <span href="#pablo">
                                                <img class="img" src="assets/img/faces/card-profile1-square.jpg" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-content">
                                            <h2 class="card-title">Find a helping hand</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="vertical-divider">or</div>
                        <div class="col-lg-6  text-center rightspan" style="height: 410px;">
                            <div class="col-md-12">
                                <a class="card card-profile card-plain" ng-click="buisnessSingup()">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <span href="#pablo">
                                                <img class="img" src="assets/img/faces/card-profile1-square.jpg" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-content">
                                            <h2 class="card-title">List Your Business</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-12">
                                <a class="card card-profile card-plain" ng-click="employeeSingup()">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <span href="#pablo">
                                                <img class="img" src="assets/img/faces/card-profile1-square.jpg" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-content">
                                            <h2 class="card-title">Blogger point</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div> <!-- wizard container -->

                </div><!-- end row -->
            </div>
            
        </div>
        <div ng-controller="LoginFooterCtrl">
            <div ng-include src="footer.url"></div>
            <script type="text/ng-template" id="loginFooter.html">
            </script>
        </div>
    </div>

</div>