﻿
    <div class="login-page">
        <div ng-controller="LoginHeaderCtrl">
            <div ng-include src="header.url"></div>
            <script type="text/ng-template" id="LoginHeaderBar.html">
            </script>
        </div>

        <div class="page-header header-filter" style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="card card-signup">
                            <form class="form" method="" action="#">
                                <div class="header header-primary text-center">
                                    <h4 class="card-title">Log in</h4>
                                    <div class="social-line">
                                        <a href="#pablo" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <p class="description text-center">Or Be Classical</p>
                                <div class="card-content">

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Email..." ng-model="VEmailId">
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <input type="password" placeholder="Password..." class="form-control" ng-model="vPassword" />
                                    </div>

                                </div>
                                <div class="footer text-center">
                                    <a href="#!/DashBoard" class="btn btn-primary btn-simple btn-wd btn-lg" ng-click="VendorLogin()">Get Started</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-controller="LoginFooterCtrl">
                <div ng-include src="footer.url"></div>
                <script type="text/ng-template" id="loginFooter.html">
                </script>
            </div>

        </div>

    </div>