﻿<div class="signup-page">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="../assets/css/material-bootstrap-wizard.css" rel="stylesheet" />
    <link href="../assets/css/demo.css" rel="stylesheet" />
    <script src="../assets/js/jquery.bootstrap.js" type="text/javascript"></script>
    <!--  Plugin for the Wizard -->
    <script src="../assets/js/material-bootstrap-wizard.js"></script>
    <!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
    <script src="../assets/js/jquery.validate.min.js"></script>
    <style>
        .signup-page .page-header .container {
            padding-top: 16vh !important;
        }

        .wizard-container {
            padding-top: 0px !important;
            z-index: 3;
        }

        .footer {
            margin-top: 0px !important;
        }

            .footer container {
                padding-top: 0 !important;
            }

        .pricing-1 .section-image:after {
            background-color: transparent !important;
        }

        .backImage {
            width: 100% !important;
            height: 100% !important;
        }

        .imageclass {
            width: 100% !important;
            height: 100% !important;
            border-radius: 50% !important;
            vertical-align: inherit !important;
            object-fit: cover !important;
        }

        .wizard-card .picture-red {
            width: 106px;
            height: 106px;
            background-color: #ff0000;
            border: 4px solid #ff0000;
            color: #FFFFFF;
            border-radius: 50%;
            margin: 5px auto;
            overflow: hidden;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
        }
    </style>
    <div ng-controller="LoginHeaderCtrl">
        <div ng-include src="header.url"></div>
        <script type="text/ng-template" id="LoginHeaderBar.html">
        </script>
    </div>
    <div class="page-header header-filter" filter-color="purple" style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="green" id="wizardProfile">
                            <form action="" method="get" class="cmxform">
                                <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                                <div class="wizard-header">
                                    <h3 class="wizard-title">
                                        Build Your {{regiterName}} Profile
                                    </h3>
                                    <h5>This information will let us know more about you.</h5>
                                </div>
                                <div class="wizard-navigation">
                                    <ul class="nav nav-pills">
                                        <li><a href="#about" data-toggle="tab" onclick="return false">Event Create</a></li>
                                        <li><a href="#account" data-toggle="tab" onclick="return false">Company Details</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane" id="about">
                                        <div class="row">
                                            <h4 class="info-text"> Let's start with the basic information Of event</h4>
                                            <div class="col-sm-4">
                                                <div class="picture-container">
                                                    <div class="picture" id="images">
                                                        <img src="assets/img/default-avatar.png" class="picture-src imageclass" id="wizardPicturePreview" title="" ng-model="VImagePath" />
                                                        <input type="file" fileread="uploadme" id="wizard-picture" name="file">
                                                    </div>
                                                    <h6>Choose Picture</h6>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="col-lg-6" style="padding:0">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">person</i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Full Name</label>
                                                            <input name="firstname" type="text" class="form-control" ng-model="Registration.FullName">
                                                        </div>
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">record_voice_over</i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Address</label>
                                                            <input name="lastname" type="text" class="form-control" ng-model="Registration.Address">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6" style="padding:0">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">event</i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Company Name</label>
                                                            <input name="firstname" type="text" class="form-control" ng-model="Registration.VCompanyName">
                                                        </div>
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">call</i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Conatct No.</label>
                                                            <input name="lastname" type="number" maxlength="12" class="form-control" ng-model="Registration.PhoneNo" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">email</i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Email</label>
                                                        <input name="email" type="email" class="form-control" ng-model="Registration.VEmailId">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">lock</i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Password </label>
                                                        <input name="password" type="password" class="form-control" ng-model="Registration.VPassword">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">lock</i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Confirm Password</label>
                                                        <input name="c_password" type="password" class="form-control" ng-model="Registration.VCPassword">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wizard-footer">
                                            <div class="pull-right">
                                                <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' ng-click="VRegistration()" />
                                                <!--<input type='button' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Finish' ng-click="VRegistration()" />-->
                                            </div>
                                            <div class="pull-left">
                                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="account">
                                        <h4 class="info-text"> What are you doing? (checkboxes) </h4>
                                        <div class="row">
                                            <div class="col-sm-10 col-sm-offset-1">
                                                <div class="col-lg-4" ng-repeat="CatList in CategoryList" style="height: 200px;">
                                                    <div class="choice" data-toggle="modal" data-target="#selectEventSubType" onclick="return false">
                                                        <input type="checkbox" id="{{CatList.E_Cat_ID}}" value="{{CatList.E_Cat_Type}}">
                                                        <div class="icon">
                                                            <i>
                                                                <img class="img img-circle imageclass" ng-src="http://localhost:55599/Logo/{{CatList.E_Cat_Image}}" ng-checked="Reg.E_Cat_ID.indexOf(sub.VSName) > -1" ng-click="CategoryClick(CatList)" />
                                                            </i>
                                                        </div>
                                                        <h6>{{CatList.E_Cat_Type}}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <!--<input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />-->
                                        <input type='button' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Finish' ng-click="FinishedReg()" />
                                    </div>
                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- wizard container -->
                </div>
            </div><!-- end row -->
        </div>
        <div ng-controller="LoginFooterCtrl">
            <div ng-include src="footer.url"></div>
            <script type="text/ng-template" id="loginFooter.html">
            </script>
        </div>
    </div>
    <div class="modal fade wizard-card" id="selectEventSubType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-signup">
            <div class="modal-content">
                <div class="card card-signup card-plain">
                    <div class="modal-header">
                        <button type="button" class="close btn btn-round btn-just-icon pull-right" data-dismiss="modal" aria-hidden="true" style="color:#ff0000"><i class="material-icons">clear</i></button>
                        <h2 class="modal-title card-title text-center" id="myModalLabel">Select single/Multiple {{}} Types</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <h4 class="info-text"> What are you doing? (checkboxes) </h4>

                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="col-lg-4" ng-repeat="sub in VenodrSub" style="height: 200px;">
                                    <div class="choice" data-toggle="wizard-checkbox">
                                        <input type="checkbox" id="{{sub.VSId}}" value="{{sub.VSName}}">
                                        <div class="icon">
                                            <i>
                                                <img class="img img-circle imageclass" ng-src="http://localhost:55599/Logo/{{sub.VSImages}}" ng-checked="Reg.VSId.indexOf(sub.VSName) > -1" ng-click="toggleSubSelection(sub)" />
                                            </i>
                                        </div>
                                        <h6>{{sub.VSName}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-info btn-round btn-info btn-wd" data-dismiss="modal" ng-click="SaveVendorCategory()">Save Type</button>
                        <!--<button type='button' class='btn btn-finish btn-fill btn-info btn-wd' name='finish' value='Save Type' ng-click="SaveVendorCategory()" />-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.nav-pills li').css({ "padding": "0 15px" })
            debugger
            $('.wizard-navigation').find('.moving-tab').last().addClass('hidden')
            //    materialKitDemo.initContactUs2Map();
        });
    </script>
</div>
