﻿<link rel="shortcut icon" href="https://designshack.net/favicon.ico">
<link rel="icon" href="https://designshack.net/favicon.ico">
<link rel="stylesheet" type="text/css" media="all" href="../assets/css/Style.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<style>
    .page-header .container {
     padding-top: 0px; 
    color: #FFF;
}
</style>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".check").attr("class", "check check-complete");
            $(".fill").attr("class", "fill fill-complete");
        }, 5000);

        setTimeout(function () {
            $(".check").attr("class", "check check-complete success");
            $(".fill").attr("class", "fill fill-complete success");
            $(".path").attr("class", "path path-complete");
        }, 6000);
    });
</script>

<div id="content" class="page-header header-filter" filter-color="blue" style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
    <!-- Icons source http://dribbble.com/shots/913555-Flat-Web-Elements -->
    <div class="container card" style="background:transparent; box-shadow:none">
        <div class="notify successbox card-content content-mix">
            <h1>Success!</h1>
            <span class="alerticon">
                <div class="checkmark">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px"
                         viewBox="0, 0, 100, 100" id="checkmark">
                    <g transform="">
                    <circle class="path" fill="none" stroke="#7DB0D5" stroke-width="4" stroke-miterlimit="10" cx="50" cy="50" r="44" />
                    <circle class="fill" fill="none" stroke="#41c347" stroke-width="4" stroke-miterlimit="10" cx="50" cy="50" r="44" />
                    <polyline class="check" fill="none" stroke="#7DB0D5" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10"
                              points="70,35 45,65 30,52  " />
        </g>
    </svg>

                </div>
            </span>
            <p>You are registered in eventoviti successfully and check your email id.</p>
            <div class="btns clearfix text-center">
                <a href="#!/Login" class="btn btn-success">Go back to login page</a>
            </div>
        </div>
    </div>
    <!--<div class="notify errorbox">
        <h1>Warning!</h1>
        <span class="alerticon"><img src="images/error.png" alt="error" /></span>
        <p>You did not set the proper return e-mail address. Please fill out the fields and then submit the form.</p>
    </div>-->


</div><!-- @end #content -->