﻿<footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#" onclick="return false">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="return false">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="return false">
                                Portofolio
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="return false">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy;
                    
                    Eventoviti, made with love for a better web
                </p>
            </div>
        </footer>