﻿<style>
    ul {
        /*max-height: 50px !important;*/
        margin: 10px 0 !important;
    }

    .imageClass {
        height: 40px !important;
    }
</style>
<div class="collapse navbar-collapse" id="navigation-example">
    <ul class="nav navbar-nav navbar-center">
        <li>
            <a ng-href="#!/VendorDashboard">
                <i class="material-icons">dashboard</i>Dashboard
            </a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="return false">
                <i class="material-icons">view_carousel</i>Events
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-with-icons">
                <li>
                    <a ng-href="#!/OngoingEvent">
                        <i class="material-icons">person</i>
                        Ongoing Event
                    </a>
                </li>
                <li>
                    <a ng-href="#!/NewEvent">
                        <i class="material-icons">person</i>
                        Create New Event
                    </a>
                </li>
                <li>
                    <a ng-href="#!/UpcomingEvent">
                        <i class="material-icons">person</i>
                        Upcoming Event
                    </a>
                </li>
            </ul>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="return false">
                <i class="material-icons">person</i>Task
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-with-icons">
                <li>
                    <a ng-href="#!/TaskAllocation">
                        <i class="material-icons">person</i>
                        Task Allocation
                    </a>
                </li>
                <li>
                    <a ng-href="#" onclick="return false">
                        <i class="material-icons">person</i>
                        Upcoming Task
                    </a>
                </li>
                <li>
                    <a ng-href="#" onclick="return false">
                        <i class="material-icons">person</i>
                        Ongoing Task
                    </a>
                </li>

            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="return false">
                <i class="material-icons">person</i>Guest Management
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-with-icons">
                <li>
                    <a ng-href="#!/AddNewGuest">
                        <i class="material-icons">person</i>
                        Add New Guest
                    </a>
                </li>
                <li>
                    <a ng-href="#!/GuestListStatus">
                        <i class="material-icons">person</i>
                        Guest List Status
                    </a>
                </li>
                <li>
                    <a ng-href="#!/TaskAllocation">
                        <i class="material-icons">person</i>
                        Track Guest
                    </a>
                </li>

            </ul>
        </li>
        <li>
            <a ng-href="#!/TeamMembers">
                <i class="material-icons">person</i>
                Team Members
            </a>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="return false">
                <i class="material-icons">person</i>Venu
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-with-icons">
                <li>
                    <a ng-href="#!/VenuManagement">
                        <i class="material-icons">person</i>
                        Venue Management
                    </a>
                </li>

            </ul>
        </li>
        <li>
            <a ng-href="#!/calenderEvent">
                <i class="material-icons">person</i>
                Calendar
            </a>
        </li>



    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="profile-photo dropdown-toggle" data-toggle="dropdown" onclick="return false">
                <div class="profile-photo-small">
                    <img src="../../SaveImages/{{VendoreImage}}" alt="Circle Image" class="img-circle img-responsive imageClass">
                </div>
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-header">
                    Personal Settings
                </li>
                <li>
                    <a href="#pablo">My Profile</a>
                </li>
                <li class="divider"></li>
                <li><a href="#!/Login">Sign Out</a></li>
            </ul>
        </li>
    </ul>

</div>


