﻿<!--<style>
    .navbar, .navbar .dropdown-menu .active > a, .navbar.navbar-default, .navbar.navbar-default .dropdown-menu .active > a {
        background-color: #FFF !important;
        color: #555 !important;
    }
</style>-->


<div class="collapse navbar-collapse" id="navigation-example">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#!/AboutUs">
                <i class="material-icons">account_balance</i> Blog
            </a>
        </li>
        <li>
            <a href="#!/UserSingnUp?id=MA">
                <i class="material-icons">account_balance</i> Host Your Event
            </a>
        </li>
        <li>
            <a href="#!/AboutUs">
                <i class="material-icons">account_balance</i> Look For Vendors
            </a>
        </li>
        <li>
            <a href="#!/AboutUs">
                <i class="material-icons">account_balance</i> Look For Venue
            </a>
        </li>
        <li>
            <a href="#!/Login">
                <i class="material-icons">fingerprint</i> Login
            </a>
        </li>
        <li>
            <a href="#!/SignupPage?id=BE">
                <i class="material-icons">account_circle</i> List Your Business
            </a>
        </li>
    </ul>
</div>

