﻿<footer class="footer">
    <div class="container" style="padding: 5px !important;">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Eventoviti
                    </a>
                </li>

            </ul>
        </nav>
        <ul class="pull-center">
            <li>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>
        <div class="copyright pull-right">
            &copy;
            made with <i class="fa fa-heart heart"></i> by Aditya
        </div>
    </div>
</footer>