﻿<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="padding:0px 20px">
                <img src="assets/img/EVENTOVITI-150X150.png" style="width:60px; height:60px" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navigation-example">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#!/AboutUs">
                        <i class="material-icons">account_balance</i> Blog
                    </a>
                </li>
                <li>
                    <a href="#!/SignupPage/id=MA">
                        <i class="material-icons">account_balance</i> Host Your Event
                    </a>
                </li>
                <li>
                    <a href="#!/AboutUs">
                        <i class="material-icons">account_balance</i> Look For Vendors
                    </a>
                </li>
                <li>
                    <a href="#!/AboutUs">
                        <i class="material-icons">account_balance</i> Look For Venue
                    </a>
                </li>
                <li>
                    <a href="#!/Login">
                        <i class="material-icons">fingerprint</i> Login
                    </a>
                </li>
                <li>
                    <a href="#!/SignupPage/id=BE">
                        <i class="material-icons">account_circle</i> List Your Business
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>