﻿<link href="DemoPages/assets/css/turbo.css" rel="stylesheet" />
<!--  CSS for Demo Purpose, don't include it in your project     -->
<link href="DemoPages/assets/css/demo.css" rel="stylesheet" />
<link href="assets/vendors/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet" />

<script src="DemoPages/assets/vendors/moment.min.js"></script>
<!--  Charts Plugin -->
<script src="DemoPages/assets/vendors/charts/flot/jquery.flot.js"></script>
<script src="DemoPages/assets/vendors/charts/flot/jquery.flot.resize.js"></script>
<script src="DemoPages/assets/vendors/charts/flot/jquery.flot.pie.js"></script>
<script src="DemoPages/assets/vendors/charts/flot/jquery.flot.stack.js"></script>
<script src="DemoPages/assets/vendors/charts/flot/jquery.flot.categories.js"></script>
<script src="DemoPages/assets/vendors/charts/chartjs/Chart.min.js" type="text/javascript"></script>
<!--  Plugin for the Wizard -->
<script src="DemoPages/assets/vendors/jquery.bootstrap-wizard.js"></script>
<!--  Notifications Plugin    -->
<script src="DemoPages/assets/vendors/bootstrap-notify.js"></script>
<script src="DemoPages/assets/vendors/jquery-jvectormap.js"></script>
<!-- Sliders Plugin -->
<script src="DemoPages/assets/vendors/nouislider.min.js"></script>
<script src="DemoPages/assets/vendors/jquery.select-bootstrap.js"></script>
<!--  DataTables.net Plugin    -->
<script src="DemoPages/assets/vendors/jquery.datatables.js"></script>
<!-- Sweet Alert 2 plugin -->
<script src="DemoPages/assets/vendors/sweetalert2.js"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="DemoPages/assets/vendors/jasny-bootstrap.min.js"></script>
<!--  Full Calendar Plugin    -->
<script src="DemoPages/assets/vendors/fullcalendar.min.js"></script>
<!-- TagsInput Plugin -->
<script src="DemoPages/assets/vendors/jquery.tagsinput.js"></script>
<!-- Material Dashboard javascript methods -->
<script src="DemoPages/assets/js/turbo.js"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="DemoPages/assets/js/demo.js"></script>
<script src="DemoPages/assets/js/charts/flot-charts.js"></script>
<script src="DemoPages/assets/js/charts/chartjs-charts.js"></script>    
<div class="container-fluid">
    <div class="navbar-minimize">
        <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
            <i class="material-icons visible-on-sidebar-regular f-26">keyboard_arrow_left</i>
            <i class="material-icons visible-on-sidebar-mini f-26">keyboard_arrow_right</i>
        </button>
    </div>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a onclick="return false" class="navbar-brand" href="#"> Dashboard </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a onclick="return false" href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons">notifications</i>
                    <span class="notification">6</span>
                    <p class="hidden-lg hidden-md">
                        Notifications
                        <b class="caret"></b>
                    </p>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a onclick="return false" href="#">You have 5 new messages</a>
                    </li>
                    <li>
                        <a onclick="return false" href="#">You're now friend with Mike</a>
                    </li>
                    <li>
                        <a onclick="return false" href="#">Wish Mary on her birthday!</a>
                    </li>
                    <li>
                        <a onclick="return false" href="#">5 warnings in Server Console</a>
                    </li>
                    <li>
                        <a onclick="return false" href="#">Jane completed 'Induction Training'</a>
                    </li>
                    <li>
                        <a onclick="return false" href="#">'Prepare Marketing Report' is overdue</a>
                    </li>
                </ul>
            </li>
            <li>
                <a onclick="return false" href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons">apps</i>
                    <p class="hidden-lg hidden-md">Apps</p>
                </a>
            </li>
            <li>
                <a onclick="return false" href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons">person</i>
                    <p class="hidden-lg hidden-md">Profile</p>
                </a>
            </li>
            <li>
                <a onclick="return false" href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons">settings</i>
                    <p class="hidden-lg hidden-md">Settings</p>
                </a>
            </li>
            <li class="separator hidden-lg hidden-md"></li>
        </ul>
    </div>
</div>
