﻿

<div class="logo">
    <a href="#" class="simple-text">
        Turbo Admin
    </a>
</div>
<div class="logo logo-mini">
    <a href="#" class="simple-text">
        T
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
       <li>
            <a ng-href="#!/VendorDashboard">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="active">
            <a data-toggle="collapse" href="#layouts" class="collapsed" aria-expanded="false">
                <i class="material-icons">aspect_ratio</i>
                <p>
                    Layouts
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="layouts" aria-expanded="false" style="height: auto;">
                <ul class="nav">
                    <li>
                        <a href="boxed-layout.html">Box Layout</a>
                    </li>
                    <li>
                        <a href="compact-menu.html">Compact Menu</a>
                    </li>
                    <li>
                        <a href="horizontal-menu.html">Horizontal Menu</a>
                    </li>
                    <li>
                        <a href="rtl-layout.html">RTL</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="../widgets/widgets.html">
                <i class="material-icons">apps</i>
                <p>Widgets</p>
            </a>
        </li>
        <li>
            <a data-toggle="collapse" href="#charts" class="collapsed" aria-expanded="false">
                <i class="material-icons">equalizer</i>
                <p>
                    Charts
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="charts" aria-expanded="false" style="height: auto;">
                <ul class="nav">
                    <li>
                        <a href="../charts/chart-js-charts.html">ChartJS</a>
                    </li>
                    <li>
                        <a href="../charts/flot-charts.html">Flot</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a data-toggle="collapse" href="#ui-elements" class="collapsed" aria-expanded="false">
                <i class="material-icons">extension</i>
                <p>
                    UI Elements
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="ui-elements" aria-expanded="false" style="height: auto;">
                <ul class="nav">
                    <li><a href="../ui/accordions.html">Accordions</a></li>
                    <li><a href="../ui/alerts.html">Alerts</a></li>
                    <li><a href="../ui/buttons.html">Buttons</a></li>
                    <li><a href="../ui/colors.html">Colors</a></li>
                    <li><a href="../ui/grid.html">Grid System</a></li>
                    <li><a href="../ui/icons.html">Icons</a></li>
                    <li><a href="../ui/modals.html">Modals</a></li>
                    <li><a href="../ui/notifications.html">Notifications</a></li>
                    <li><a href="../ui/tabs.html">Tabs</a></li>
                    <li><a href="../ui/typography.html">Typography</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a data-toggle="collapse" href="#forms" class="collapsed" aria-expanded="false">
                <i class="material-icons">border_color</i>
                <p>
                    Forms
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="forms" aria-expanded="false" style="height: auto;">
                <ul class="nav">
                    <li><a href="../forms/basic-elements.html">Basic Elements</a></li>
                    <li><a href="../forms/advanced-elements.html">Advanced Elements</a></li>
                    <li><a href="../forms/form-validation.html">Form Validation</a></li>
                    <li><a href="../forms/form-wizard.html">Form Wizard</a></li>
                    <li><a href="../forms/sample-forms.html">Sample Forms</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a data-toggle="collapse" href="#tables" class="collapsed" aria-expanded="false">
                <i class="material-icons">grid_on</i>
                <p>
                    Tables
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="tables" aria-expanded="false" style="height: auto;">
                <ul class="nav">
                    <li><a href="../tables/tables.html">Simple Tables</a></li>
                    <li><a href="../tables/data-tables.html">Data Tables</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a data-toggle="collapse" href="#pages" class="collapsed" aria-expanded="false">
                <i class="material-icons">content_copy</i>
                <p>
                    Pages
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="pages" aria-expanded="false" style="height: auto;">
                <ul class="nav">
                    <li><a href="../sample-pages/template.html">Template</a></li>
                    <li><a href="../sample-pages/user-profile.html">User Profile</a></li>
                    <li><a href="../sample-pages/login.html">Login</a></li>
                    <li><a href="../sample-pages/signup.html">Sign Up</a></li>
                    <li><a href="../sample-pages/pricing-table.html">Pricing Table</a></li>
                    <li><a href="../sample-pages/invoice.html">Invoice</a></li>
                    <li><a href="../sample-pages/help-faqs.html">Help & FAQs</a></li>
                    <li><a href="../sample-pages/timeline.html">Timeline</a></li>
                    <li><a href="../sample-pages/404.html">404</a></li>
                    <li><a href="../sample-pages/500.html">500</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="../calendar/calendar.html">
                <i class="material-icons">date_range</i>
                <p>
                    Calendar
                    <b class="caret"></b>
                </p>
            </a>
        </li>
        <li>
            <a href="../docs/documentation.html">
                <i class="material-icons">library_books</i>
                <p>Documentation</p>
            </a>
        </li>
    </ul>
</div>
