﻿<link href="DemoPages/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="DemoPages/assets/css/turbo.css" rel="stylesheet" />
<!--  CSS for Demo Purpose, don't include it in your project     -->
<link href="DemoPages/assets/css/demo.css" rel="stylesheet" />
<link href="DemoPages/assets/vendors/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet" />
<script src="DemoPages/assets/vendors/bootstrap.min.js" type="text/javascript"></script>
<script src="DemoPages/assets/vendors/material.min.js" type="text/javascript"></script>
<script src="DemoPages/assets/vendors/moment.min.js"></script>
<!--  Charts Plugin -->
<script src="DemoPages/assets/vendors/charts/flot/jquery.flot.js"></script>
<script src="DemoPages/assets/vendors/charts/flot/jquery.flot.resize.js"></script>
<script src="DemoPages/assets/vendors/charts/flot/jquery.flot.pie.js"></script>
<script src="DemoPages/assets/vendors/charts/flot/jquery.flot.stack.js"></script>
<script src="DemoPages/assets/vendors/charts/flot/jquery.flot.categories.js"></script>
<script src="DemoPages/assets/vendors/charts/chartjs/Chart.min.js" type="text/javascript"></script>
<!--  Plugin for the Wizard -->
<script src="DemoPages/assets/vendors/jquery.bootstrap-wizard.js"></script>
<!--  Notifications Plugin    -->
<script src="DemoPages/assets/vendors/bootstrap-notify.js"></script>
<script src="DemoPages/assets/vendors/jquery-jvectormap.js"></script>
<!-- Sliders Plugin -->
<script src="DemoPages/assets/vendors/nouislider.min.js"></script>
<script src="DemoPages/assets/vendors/jquery.select-bootstrap.js"></script>
<!--  DataTables.net Plugin    -->
<script src="DemoPages/assets/vendors/jquery.datatables.js"></script>
<!-- Sweet Alert 2 plugin -->
<script src="DemoPages/assets/vendors/sweetalert2.js"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="DemoPages/assets/vendors/jasny-bootstrap.min.js"></script>
<!--  Full Calendar Plugin    -->
<script src="DemoPages/assets/vendors/fullcalendar.min.js"></script>
<!-- TagsInput Plugin -->
<script src="DemoPages/assets/vendors/jquery.tagsinput.js"></script>
<!-- Material Dashboard javascript methods -->
<script src="DemoPages/assets/js/turbo.js"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="DemoPages/assets/js/demo.js"></script>
<script src="DemoPages/assets/js/charts/flot-charts.js"></script>
<script src="DemoPages/assets/js/charts/chartjs-charts.js"></script>
<div class="horizontal-menu">
    <div class="wrapper">
        <div class="sidebar" ng-include src="HeaderPage.url" ng-controller="HeaderPageCtrl"></div>
        <script type="text/ng-template" id="HeaderPage.html">
        </script>
        <div class="main-panel">
            <nav class="navbar navbar-default navbar-absolute" data-topbar-color="blue" ng-include src="FixHeader.url" ng-controller="FixHeaderCtrl"></nav>
            <script type="text/ng-template" id="FixHeader.html">
            </script>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header">
                                    <div class="icon icon-warning">
                                        <i class="zmdi zmdi-equalizer"></i>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="category"><strong>Visits</strong></p>
                                    <h3 class="card-title">70,340</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <a onclick="return false" style="position:inherit">
                                            <i class="material-icons text-info">info</i>See detailed report
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header">
                                    <div class="icon icon-rose">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="category"><strong>Orders</strong></p>
                                    <h3 class="card-title">102</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">local_offer</i> Product-wise sales
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header">
                                    <div class="icon icon-success">
                                        <i class="zmdi zmdi-money"></i>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="category"><strong>Revenue</strong></p>
                                    <h3 class="card-title">$23,100</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">date_range</i> Weekly sales
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header">
                                    <div class="icon icon-info">
                                        <i class="zmdi zmdi-twitter"></i>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="category"><strong>Followers</strong></p>
                                    <h3 class="card-title">+245</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">update</i> Just Updated
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card" style="min-height: 350px">
                                <div class="card-header card-header-icon">
                                    <i class="material-icons">timeline</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Sales Trend
                                    </h4>
                                    <div class="chart-edge">
                                        <div id="line-chart" class="demo-placeholder"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="min-height: 350px">
                                <div class="card-header">
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        Region-wise Sales
                                    </h4>
                                    <div id="dash1-sales-chart" class="chart">
                                        <canvas id="doughnutChart" height="400" width="498" style="display: block; width: 498px; height: 400px;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <div class="card" style="min-height: 485px">
                                <div class="card-header card-header-text">
                                    <h4 class="card-title">Employees Stats</h4>
                                    <p class="category">New employees on 15th December, 2016</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-primary">
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Salary</th>
                                        <th>Country</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Bob Williams</td>
                                                <td>$23,566</td>
                                                <td>USA</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Mike Tyson</td>
                                                <td>$10,200</td>
                                                <td>Canada</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Tim Sebastian</td>
                                                <td>$32,190</td>
                                                <td>Netherlands</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Philip Morris</td>
                                                <td>$31,123</td>
                                                <td>Korea, South</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Minerva Hooper</td>
                                                <td>$23,789</td>
                                                <td>South Africa</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Hulk Hogan</td>
                                                <td>$43,120</td>
                                                <td>Netherlands</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Angelina Jolie </td>
                                                <td>$12,140</td>
                                                <td>Australia</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="card" style="min-height: 485px">
                                <div class="card-header">
                                    <h4 class="card-title">Task List</h4>
                                </div>
                                <div class="card-content">
                                    <div class="dropdown pull-right">
                                        <button type="button" class="btn btn-round btn-info dropdown-toggle" data-toggle="dropdown">
                                            <i class="material-icons">build</i>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li>
                                                <a onclick="return false" href="#action">Action</a>
                                            </li>
                                            <li>
                                                <a onclick="return false" href="#action">Another action</a>
                                            </li>
                                            <li>
                                                <a onclick="return false" href="#here">Something else here</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a onclick="return false" href="#link">Separated link</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Create Annual Training Plan. Get it reviewed by Mike</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Create Tutorials for Induction Training</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    Complete wireframe for HR Portal by end of December
                                                </td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Recruit five developers and get them trained on the new project</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="card" style="min-height: 485px">
                                <div class="card-header">
                                    <h4 class="card-title">Activities</h4>
                                </div>
                                <div class="card-content">
                                    <div class="streamline">
                                        <div class="sl-item sl-primary">
                                            <div class="sl-content">
                                                <small class="text-muted">5 mins ago</small>
                                                <p>Williams has just joined Project X</p>
                                            </div>
                                        </div>
                                        <div class="sl-item sl-danger">
                                            <div class="sl-content">
                                                <small class="text-muted">25 mins ago</small>
                                                <p>Jane has sent a request for access to the project folder</p>
                                            </div>
                                        </div>
                                        <div class="sl-item sl-success">
                                            <div class="sl-content">
                                                <small class="text-muted">40 mins ago</small>
                                                <p>Kate added you to her team</p>
                                            </div>
                                        </div>
                                        <div class="sl-item">
                                            <div class="sl-content">
                                                <small class="text-muted">45 minutes ago</small>
                                                <p>John has finished his task</p>
                                            </div>
                                        </div>
                                        <div class="sl-item sl-warning">
                                            <div class="sl-content">
                                                <small class="text-muted">55 mins ago</small>
                                                <p>Jim shared a folder with you</p>
                                            </div>
                                        </div>
                                        <div class="sl-item">
                                            <div class="sl-content">
                                                <small class="text-muted">60 minutes ago</small>
                                                <p>John has finished his task</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon">
                                    <i class="material-icons">language</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Global Sales by Top Locations</h4>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="table-responsive table-sales">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="flag">
                                                                    <img src="../assets/img/flags/US.png">
                                                                </div>
                                                            </td>
                                                            <td>USA</td>
                                                            <td class="text-right">
                                                                2.920
                                                            </td>
                                                            <td class="text-right">
                                                                53.23%
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="flag">
                                                                    <img src="../assets/img/flags/DE.png">
                                                                </div>
                                                            </td>
                                                            <td>Germany</td>
                                                            <td class="text-right">
                                                                1.300
                                                            </td>
                                                            <td class="text-right">
                                                                20.43%
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="flag">
                                                                    <img src="../assets/img/flags/AU.png">
                                                                </div>
                                                            </td>
                                                            <td>Australia</td>
                                                            <td class="text-right">
                                                                760
                                                            </td>
                                                            <td class="text-right">
                                                                10.35%
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="flag">
                                                                    <img src="../assets/img/flags/GB.png">
                                                                </div>
                                                            </td>
                                                            <td>United Kingdom</td>
                                                            <td class="text-right">
                                                                690
                                                            </td>
                                                            <td class="text-right">
                                                                7.87%
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="flag">
                                                                    <img src="../assets/img/flags/RO.png">
                                                                </div>
                                                            </td>
                                                            <td>Romania</td>
                                                            <td class="text-right">
                                                                600
                                                            </td>
                                                            <td class="text-right">
                                                                5.94%
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="flag">
                                                                    <img src="../assets/img/flags/BR.png">
                                                                </div>
                                                            </td>
                                                            <td>Brasil</td>
                                                            <td class="text-right">
                                                                550
                                                            </td>
                                                            <td class="text-right">
                                                                4.34%
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-md-offset-1">
                                            <div id="worldMap" class="map"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a onclick="return false" href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a onclick="return false" href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a onclick="return false" href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a onclick="return false" href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;

                        <a onclick="return false" href="#">Turbo</a> BootStrap Admin Dashboard
                    </p>
                </div>
            </footer>
        </div>
    </div>
</div>