﻿<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<link href="../assets/css/material-dashboard.css" rel="stylesheet" />
<script src="../assets/js/material-dashboard.js"></script>
<link href="../assets/css/material-bootstrap-wizard.css" rel="stylesheet" />
<script src="../assets/js/jquery.bootstrap.js" type="text/javascript"></script>
<!--  Plugin for the Wizard -->
<link href="../assets/css/demo.css" rel="stylesheet" />
<script src="../assets/js/demo.js"></script>
<script src="../assets/js/material-bootstrap-wizard.js"></script>
<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="../assets/js/jquery.validate.min.js"></script>
<script src="../assets/js/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
<style>
    .page-header .container {
        padding-top: 26px !important;
        color: #FFF;
    }

    .modal .modal-dialog.modal-signup .card-signup {
        padding: 0 0;
        margin-bottom: 0;
    }

    .ta-editor {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .modal-footer {
        border-top: none;
        padding: 24px !important;
    }
</style>
<style>
    .wizard-card .choice .icon {
        height: 50px !important;
        width: 50px !important;
    }

    .page-header {
        height: 28vh !important;
    }

    .card {
        box-shadow: none !important;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0px;
    }

    /*.moving-tab {
               transform: translate3d(-2px, 3px, 0px) !important;
           }*/
    .signup-page .page-header .container {
        padding-top: 16vh !important;
    }

    .wizard-container {
        padding-top: 0px !important;
        z-index: 3;
    }

    .pricing-1 .section-image:after {
        background-color: transparent !important;
    }

    .backImage {
        width: 100% !important;
        height: 100% !important;
    }

    .footer {
        text-align: center !important;
    }

    #map {
        width: 100%;
        height: 350px;
        margin: 5px 0;
        border-radius: 5px;
        border: 1px solid silver;
    }

    .btn-group, .btn-group-vertical {
        position: relative;
        margin: 0px 1px !important;
    }

    .ta-editor {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
        box-shdaow: none !important;
    }

    .ta-toolbar .btn {
        border-radius: 0;
        padding: 5px;
        min-width: 30px;
        background-color: #fff;
        color: #333;
    }

    [text-angular] {
        position: relative;
    }

    .ta-toolbar {
        position: absolute;
        top: 0;
        right: 0;
    }

    @media all and (max-width: 699px) {
        .ta-toolbar {
            position: absolute;
        }

        .ta-editor {
            padding-top: 30px;
        }
    }

    @media all and (max-width: 250px) {
        .ta-toolbar {
            display: none;
        }
    }

    .ta-toolbar .btn-group {
        margin: 0 !important;
        //box-shadow : 0 1px 3px rgba(0,0,0,0.2);
    }

    .ta-editor {
        border: 1px solid #EEE;
        border-raidus: 3px !important;
    }
</style>

<div class="section-white">

    <div class="navbar navbar-default navbar-fixed-top" ng-controller="SliderMenuCtrl">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="padding:0px 20px">
                    <img src="assets/img/EVENTOVITI-150X150.png" style="width:60px; height:60px" />
                </a>
            </div>
            <div ng-include src="sliderHeader.url"></div>
            <script type="text/ng-template" id="AdminSliderMenu.html">
            </script>
        </div>
    </div>

    <div class="section-space"></div>
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/bg5.jpg');">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple" style="display: flex;">
                                <div class="col-md-10">
                                    <h4 class="title">Add Logo And Media</h4>
                                    <p class="category"></p>
                                </div>
                                <div class="col-md-2">
                                    <button id="btnAdd" class="btn btn-round btn-white btn-just-icon pull-right">
                                        <i class="material-icons">note_add</i>
                                    </button>
                                    <button id="btnView" class="btn btn-round btn-white btn-just-icon pull-right">
                                        <i class="material-icons">web_asset</i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button id="btnAddLogo" class="btn btn-facebook pull-left" ng-click="">
                                    <!--<i class="fa fa-paperclip"></i>-->&nbsp;Add Logo&nbsp;
                                </button>
                                <button id="btnAddImage" class="btn btn-facebook pull-left" ng-click="">
                                    <!--<i class="fa fa-paperclip"></i>-->&nbsp;Add Image&nbsp;
                                </button>
                                <button id="btnAddVideos" class="btn btn-facebook pull-left" ng-click="">
                                    <!--<i class="fa fa-paperclip"></i>-->&nbsp;Add Videos&nbsp;
                                </button>
                                <button id="btnAddSocialMediaLinks" class="btn btn-facebook pull-left" ng-click="">
                                    <!--<i class="fa fa-paperclip"></i>-->&nbsp;Add Social Media Links&nbsp;
                                </button>
                                <button id="btnAddText" class="btn btn-facebook pull-left" ng-click="">
                                    <!--<i class="fa fa-paperclip"></i>-->&nbsp;Add Text&nbsp;
                                </button>
                            </div>
                            <div class="col-lg-12">
                                <div id="panelAddLogo">
                                    <h4 class="info-text"> Add Logo</h4>
                                    <div class="row table-responsive">
                                        <div class="col-lg-3">
                                            <div class="form-group form-file-upload">
                                                <input type="file" name="file" ng-model="filelogo" onchange="angular.element(this).scope().selectFileforUpload(this.files)" accept="image/*" required />

                                                <div class="input-group">
                                                    <input type="text" readonly="" class="form-control" placeholder="Image for Logo ">
                                                    <span class="input-group-btn input-group-s">
                                                        <button type="button" rel="tooltip" title="Multiple Images" class="btn btn-just-icon btn-round btn-info">
                                                            <i class="material-icons">image</i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="wizard-footer">
                                        <div class="pull-right">
                                            <input type='button' class='btn btn-next btn-fill btn-facebook btn-wd' name='next' value='SAVE' ng-click="SaveLogo()" />
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div id="panelAddImage">
                                    <h4 class="info-text"> Muliti images upload</h4>
                                    <div class="row table-responsive">
                                        <div class="col-lg-3">
                                            <div class="form-group form-file-upload">
                                                <input type="file" ng-model="files" ng-file-model="fill" name="files" onchange="angular.element(this).scope().selectMultipleFileforUpload(this.files)"
                                                       base-sixty-four-input multiple accept="image/*" minsize="500" required minnum="2" />

                                                <div class="input-group">
                                                    <input type="text" readonly="" class="form-control" placeholder="Multiple Image Files">
                                                    <span class="input-group-btn input-group-s">
                                                        <button type="button" rel="tooltip" title="Multiple Images" class="btn btn-just-icon btn-round btn-info">
                                                            <i class="material-icons">image</i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="fileinput fileinput-new text-center col-lg-4" ng-show="!files.length" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail img-raised">
                                                    <img src="assets/img/image_placeholder.jpg" alt="...">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                                            </div>
                                            <div class="fileinput fileinput-new text-center col-lg-4" ng-repeat="file in fill" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail img-raised">
                                                    <!--<img src="assets/img/image_placeholder.jpg" alt="..." ng-show="!files">-->
                                                    <img src="{{file.url}}" alt="..." ng-show="file.url !=''">

                                                    <!--<span>{{file.base64.substring(0, 30)}}</span>-->
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wizard-footer">
                                        <div class="pull-right">
                                            <input type='button' class='btn btn-next btn-fill btn-facebook btn-wd' name='next' value='SAVE' ng-click="SaveMultipleImages()" />
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div id="panelAddVideos">
                                    <form action="/" method="post">
                                        <h4 class="info-text"> Add Videos</h4>
                                    </form>
                                </div>
                                <div id="panelAddSocialMediaLinks">
                                    <form action="/" method="post">
                                        <h4 class="info-text"> Add Social Media Links</h4>
                                    </form>
                                </div>
                                <div id="panelAddText">
                                    <form action="/" method="post">
                                        <h4 class="info-text"> Add Text</h4>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-controller="FooterCtrl">
    <div ng-include src="footer.url"></div>
    <script type="text/ng-template" id="Footer.html">
    </script>
</div>

<script>
    $(document).ready(function () {
        $('#btnAdd').css('display', 'block');
        $('#ShowData').css('display', 'block');
        $('#addData').css('display', 'none');
        $('#btnView').css('display', 'none');
        $('#btnSave').css('display', 'none');
        $('#btnUpdate').css('display', 'none');
        $('.ta-toolbar').find('.btn-group').find('button').removeClass('btn-default').addClass('btn-facebook')
        setDefaultDisplay()
    });
    $('#btnAdd').click(function () {
        $('#btnAdd').css('display', 'none');
        $('#ShowData').css('display', 'none');
        $('#addData').css('display', 'block');
        $('#btnView').css('display', 'block');
        $('#btnSave').css('display', 'block');
        $('#btnUpdate').css('display', 'none');
        $('#update').addClass('hidden');
        $('#save').removeClass('hidden');
    })
    $('#btnView').click(function () {
        $('#btnAdd').css('display', 'block');
        $('#ShowData').css('display', 'block');
        $('#addData').css('display', 'none');
        $('#btnView').css('display', 'none');
        $('#btnSave').css('display', 'none');
        $('#btnUpdate').css('display', 'none');
    })


    $('#btnAddLogo').click(function () {
        setDefaultDisplay()
        $('#panelAddLogo').css('display', 'block');

    })
    $('#btnAddImage').click(function () {
        setDefaultDisplay()
        $('#panelAddImage').css('display', 'block');

    })
    $('#btnAddVideos').click(function () {
        setDefaultDisplay()
        $('#panelAddVideos').css('display', 'block');

    })
    $('#btnAddSocialMediaLinks').click(function () {
        setDefaultDisplay()
        $('#panelAddSocialMediaLinks').css('display', 'block');

    })
    $('#btnAddText').click(function () {
        setDefaultDisplay()
        $('#panelAddText').css('display', 'block');

    })
    function setDefaultDisplay() {

        $('#panelAddLogo').css('display', 'none');
        $('#panelAddImage').css('display', 'none');
        $('#panelAddVideos').css('display', 'none');
        $('#panelAddSocialMediaLinks').css('display', 'none');
        $('#panelAddText').css('display', 'none');


    }
    materialKit.initFormExtendedDatetimepickers();
</script>
