﻿<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<link href="../assets/css/material-dashboard.css" rel="stylesheet" />
<script src="../assets/js/material-dashboard.js"></script>
<link href="../assets/css/material-bootstrap-wizard.css" rel="stylesheet" />
<script src="../assets/js/jquery.bootstrap.js" type="text/javascript"></script>
<!--  Plugin for the Wizard -->
<link href="../assets/css/demo.css" rel="stylesheet" />
<script src="../assets/js/demo.js"></script>
<script src="../assets/js/material-bootstrap-wizard.js"></script>
<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="../assets/js/jquery.validate.min.js"></script>
<script src="../assets/js/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
<style>
    .page-header .container {
        padding-top: 26px !important;
        color: #FFF;
    }

    .modal .modal-dialog.modal-signup .card-signup {
        padding: 0 0;
        margin-bottom: 0;
    }

    .ta-editor {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .modal-footer {
        border-top: none;
        padding: 24px !important;
    }
</style>
<style>
    .wizard-card .choice .icon {
        height: 50px !important;
        width: 50px !important;
    }

    .page-header {
        height: 28vh !important;
    }

    .card {
        box-shadow: none !important;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0px;
    }

    /*.moving-tab {
               transform: translate3d(-2px, 3px, 0px) !important;
           }*/
    .signup-page .page-header .container {
        padding-top: 16vh !important;
    }

    .wizard-container {
        padding-top: 0px !important;
        z-index: 3;
    }

    .pricing-1 .section-image:after {
        background-color: transparent !important;
    }

    .backImage {
        width: 100% !important;
        height: 100% !important;
    }

    .footer {
        text-align: center !important;
    }

    #map {
        width: 100%;
        height: 350px;
        margin: 5px 0;
        border-radius: 5px;
        border: 1px solid silver;
    }

    .btn-group, .btn-group-vertical {
        position: relative;
        margin: 0px 1px !important;
    }

    .ta-editor {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
        box-shdaow: none !important;
    }

    .ta-toolbar .btn {
        border-radius: 0;
        padding: 5px;
        min-width: 30px;
        background-color: #fff;
        color: #333;
    }

    [text-angular] {
        position: relative;
    }

    .ta-toolbar {
        position: absolute;
        top: 0;
        right: 0;
    }

    @media all and (max-width: 699px) {
        .ta-toolbar {
            position: absolute;
        }

        .ta-editor {
            padding-top: 30px;
        }
    }

    @media all and (max-width: 250px) {
        .ta-toolbar {
            display: none;
        }
    }

    .ta-toolbar .btn-group {
        margin: 0 !important;
        //box-shadow : 0 1px 3px rgba(0,0,0,0.2);
    }

    .ta-editor {
        border: 1px solid #EEE;
        border-raidus: 3px !important;
    }
</style>

<div class="section-white">

    <div class="navbar navbar-default navbar-fixed-top" ng-controller="SliderMenuCtrl">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="padding:0px 20px">
                    <img src="assets/img/EVENTOVITI-150X150.png" style="width:60px; height:60px" />
                </a>
            </div>
            <div ng-include src="sliderHeader.url"></div>
            <script type="text/ng-template" id="AdminSliderMenu.html">
            </script>
        </div>
    </div>

    <div class="section-space"></div>
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/bg5.jpg');">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple" style="display: flex;">
                                <div class="col-md-10">
                                    <h4 class="title">Guest Management</h4>
                                    <p class="category"></p>
                                </div>
                                <div class="col-md-2">
                                    <!--<a id="btnBulkUpload" rel="tooltip" titlle="Add Packages" class="btn btn-round btn-dribbble btn-just-icon " ng-href="#!/GuestBulkUpload">
                                        <i class="material-icons">file_upload</i>
                                    </a>-->
                                    <button id="btnAttachemnt" rel="tooltip" titlle="Add Packages" class="btn btn-round btn-info  btn-just-icon " data-toggle="modal" data-target="#addPackages" onclick="return false">
                                        <i class="material-icons">attach_file</i>
                                    </button>
                                    <button id="btnAdd" class="btn btn-round btn-white btn-just-icon pull-right">
                                        <i class="material-icons">note_add</i>
                                    </button>
                                    <button id="btnView" class="btn btn-round btn-white btn-just-icon pull-right">
                                        <i class="material-icons">web_asset</i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-content" id="addData">
                                <form method="post">
                                    <div id="Details">
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body table-responsive">
                                                <table class="table table-condensed ">
                                                    <tbody ng-repeat="m in SubTask ">
                                                        <tr>
                                                            <td>

                                                                <div class="form-group">
                                                                    <input type="hidden" name="name" value="hidde" ng-model="m.id" />
                                                                    <label class="control-label">Guest Name</label>
                                                                    <input type="text" id="txtGuestName{{$index}}" class="form-control" ng-model="m.GuestName">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <label class="control-label">City</label>
                                                                    <input type="text" id="txtCity{{$index}}" class="form-control" ng-model="m.City">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <label class="control-label">Guest Group</label>
                                                                    <input type="text" id="txtGuestGroup{{$index}}" class="form-control" ng-model="m.GuestGroup">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <label class="control-label">Total Guest Invited</label>
                                                                    <input type="number" id="txtContactNo{{$index}}" class="form-control" ng-model="m.GuestNo">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <label class="control-label">Contact No</label>
                                                                    <input type="number" id="txtContactNo{{$index}}" class="form-control" ng-model="m.ContactNo">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <label class="control-label">Whats App No</label>
                                                                    <input type="number" id="txtWhatsAppNo{{$index}}" class="form-control" ng-model="m.WhatsAppNo">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <button type="button" rel="tooltip" title="Remove Member" class="btn btn-primary btn-round btn-simple btn-sm" ng-click="Remove($index)" ng-hide="$index == currentRow">
                                                                    <i class="material-icons">close</i>
                                                                </button>
                                                                <button type="button" rel="tooltip" title="Add New Member" class="btn btn-primary btn-round btn-simple btn-sm" ng-click="Add()" ng-show="$index == currentRow">
                                                                    <i class="material-icons">add</i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="wizard-footer">
                                            <div class="pull-right">
                                                <input type='button' class='btn btn-facebook btn-wd pull-center' name='next' value='Save' ng-click="SaveGuestBulkUpload()" />
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="ShowData">
                                <div class="card-content table-responsive">
                                    <table class="table table-condensed " ng-init="getGuestListDetail()">
                                        <thead class="text-primary">
                                        <th class="hidden">Id</th>
                                        <th>Event ID</th>
                                        <th>Guest Name</th>
                                        <th>Guest No</th>
                                        <th>City</th>
                                        <th>Address</th>
                                        <th>Pincode</th>
                                        <th>GuestGroup</th>
                                        <th>ContactNo</th>
                                        <th>WhatsAppNo</th>
                                        <th>Email Id</th>
                                        <th>Any Special Requiremnt</th>
                                        <th>Created By</th>
                                        <th>Created On</th>
                                        <th>Guest Status</th>
                                        <th>Room Detail </th>
                                        <th colspan="2">Action </th>
                                        <tbody>
                                            <tr ng-show="!Guests.length">
                                                <td colspan="20" align="center">
                                                    <img   src="../assets/Loading-Top-Wallpapers.gif" class="pull-center" style="width: 70px;" />
                                                </td>
                                            </tr>
                                            <tr ng-repeat="m in Guests">
                                                <td class="hidden">{{m.Id}}</td>
                                                <td>{{m.EventID}}</td>
                                                <td>{{m.GuestName}}</td>
                                                <td>{{m.GuestNo}}</td>
                                                <td>{{m.City}}</td>
                                                <td>{{m.Address}}</td>
                                                <td>{{m.Pincode}}</td>
                                                <td>{{m.GuestGroup}}</td>
                                                <td>{{m.ContactNo}}</td>
                                                <td>{{m.WhatsAppNo}}</td>
                                                <td>{{m.EmailId}}</td>
                                                <td>{{m.AnySpecialRequiremnt}}</td>
                                                <td>{{m.CreatedBy}}</td>
                                                <td>{{m.CreatedOn}}</td>
                                                <td>{{m.GuestStatus}}</td>
                                                <td>{{m.RoomDetail}}</td>

                                                <td>
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs" ng-click="editVenue(venueList)">
                                                        <i class="material-icons">edit</i>
                                                    </button>

                                                </td>
                                                <td>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" ng-click="DeleteVenue(venueList)">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addPackages" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-signup">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button type="button" class="close btn btn-round btn-just-icon pull-right" data-dismiss="modal" aria-hidden="true" style="color:#ff0000"><i class="material-icons">clear</i></button>
                    <h2 class="modal-title card-title text-center" id="myModalLabel">Upload by CSV</h2>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-lg-12">

                            <div class="form-group">
                                <input type="file" name="file1" fileread="uploadme" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                <div class="input-group">
                                    <input type="text" ng-model="imagename" readonly="" class="form-control" placeholder="Select CSV Files to Upload">
                                    <span class="input-group-btn input-group-s">
                                        <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-block btn-primary" data-original-title="Multiple Images">
                                            <i class="material-icons">attachment</i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer text-right">
                    <button id="addScheduleData" class="btn btn-success pull-left" ng-click="SaveGuestByCSV()">
                        <i class="fa fa-paperclip"></i>&nbsp;Upload CSV &nbsp;
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
<div ng-controller="FooterCtrl">
    <div ng-include src="footer.url"></div>
    <script type="text/ng-template" id="Footer.html">
    </script>
</div>

<script>
    $(document).ready(function () {
        $('#btnAdd').css('display', 'block');
        $('#ShowData').css('display', 'block');
        $('#addData').css('display', 'none');
        $('#btnView').css('display', 'none');
        $('#btnSave').css('display', 'none');
        $('#btnUpdate').css('display', 'none');
        $('.ta-toolbar').find('.btn-group').find('button').removeClass('btn-default').addClass('btn-facebook')
    });
    $('#btnAdd').click(function () {
        $('#btnAdd').css('display', 'none');
        $('#ShowData').css('display', 'none');
        $('#addData').css('display', 'block');
        $('#btnView').css('display', 'block');
        $('#btnSave').css('display', 'block');
        $('#btnUpdate').css('display', 'none');
        $('#update').addClass('hidden');
        $('#save').removeClass('hidden');
    })
    $('#btnView').click(function () {
        $('#btnAdd').css('display', 'block');
        $('#ShowData').css('display', 'block');
        $('#addData').css('display', 'none');
        $('#btnView').css('display', 'none');
        $('#btnSave').css('display', 'none');
        $('#btnUpdate').css('display', 'none');
    })
    materialKit.initFormExtendedDatetimepickers();
</script>
