﻿<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<link href="../assets/css/material-dashboard.css" rel="stylesheet" />
<script src="../assets/js/material-dashboard.js"></script>
<link href="../assets/css/material-bootstrap-wizard.css" rel="stylesheet" />
<script src="../assets/js/jquery.bootstrap.js" type="text/javascript"></script>
<!--  Plugin for the Wizard -->
<link href="../assets/css/demo.css" rel="stylesheet" />
<script src="../assets/js/demo.js"></script>
<script src="../assets/js/material-bootstrap-wizard.js"></script>
<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="../assets/js/jquery.validate.min.js"></script>
<script src="../assets/js/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS-VGv7vhkdEmAPxgmEq29Cv0ocGADDoM&libraries=places"></script>
<script>
    function getParam(param) {
        var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < url.length; i++) {
            var params = url[i].split("=");
            if (params[0] == param)
                return params[1];
        }
        return false;
    }
    window.onload = function () {
        var post_id = getParam("id");
        alert(post_id);
    }
</script>
<style>
    .page-header .container {
        padding-top: 26px !important;
        color: #FFF;
    }

    .modal .modal-dialog.modal-signup .card-signup {
        padding: 0 0;
        margin-bottom: 0;
    }

    .ta-editor {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .modal-footer {
        border-top: none;
        padding: 24px !important;
    }
</style>
<style>
    .wizard-card .choice .icon {
        height: 50px !important;
        width: 50px !important;
    }

    .page-header {
        height: 28vh !important;
    }

    .card {
        box-shadow: none !important;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0px;
    }

    /*.moving-tab {
               transform: translate3d(-2px, 3px, 0px) !important;
           }*/
    .signup-page .page-header .container {
        padding-top: 16vh !important;
    }

    .wizard-container {
        padding-top: 0px !important;
        z-index: 3;
    }

    .pricing-1 .section-image:after {
        background-color: transparent !important;
    }

    .backImage {
        width: 100% !important;
        height: 100% !important;
    }

    .footer {
        text-align: center !important;
    }

    #map {
        width: 100%;
        height: 350px;
        margin: 5px 0;
        border-radius: 5px;
        border: 1px solid silver;
    }

    .btn-group, .btn-group-vertical {
        position: relative;
        margin: 0px 1px !important;
    }

    .ta-editor {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
        box-shdaow: none !important;
    }

    .ta-toolbar .btn {
        border-radius: 0;
        padding: 5px;
        min-width: 30px;
        background-color: #fff;
        color: #333;
    }

    [text-angular] {
        position: relative;
    }

    .ta-toolbar {
        position: absolute;
        top: 0;
        right: 0;
    }

    @media all and (max-width: 699px) {
        .ta-toolbar {
            position: absolute;
        }

        .ta-editor {
            padding-top: 30px;
        }
    }

    @media all and (max-width: 250px) {
        .ta-toolbar {
            display: none;
        }
    }

    .ta-toolbar .btn-group {
        margin: 0 !important;
        //box-shadow : 0 1px 3px rgba(0,0,0,0.2);
    }

    .ta-editor {
        border: 1px solid #EEE;
        border-raidus: 3px !important;
    }
</style>

<div class="section-white">

    <div class="navbar navbar-default navbar-fixed-top" ng-controller="SliderMenuCtrl">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="padding:0px 20px">
                    <img src="assets/img/EVENTOVITI-150X150.png" style="width:60px; height:60px" />
                </a>
            </div>
            <div ng-include src="sliderHeader.url"></div>
            <script type="text/ng-template" id="AdminSliderMenu.html">
            </script>
        </div>
    </div>

    <div class="section-space"></div>
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/bg5.jpg');">
        <div class="container">
            <div class="row">
                <!--<div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="title">How We Built the Most Successful Event Managing</h1>
                    <h4>The last 48 hours of my life were total madness. This is what I did.</h4>
                    <br />
                    </div>-->
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple" style="display: flex;">
                                <div class="col-md-10">
                                    <h4 class="title">Guest Management</h4>
                                    <!--<p class="category">Define all veue of vendor or event manager</p>-->
                                </div>
                                <div class="col-md-2">
                                    <button id="btnAttachemnt" rel="tooltip" titlle="Add Packages" class="btn btn-round btn-dribbble btn-just-icon pull-right" data-toggle="modal" data-target="#addPackages" onclick="return false">
                                        <i class="material-icons">attachment</i>
                                    </button>
                                    <button id="btnAdd" class="btn btn-round btn-white btn-just-icon pull-right">
                                        <i class="material-icons">note_add</i>
                                    </button>
                                    <button id="btnView" class="btn btn-round btn-white btn-just-icon pull-right">
                                        <i class="material-icons">web_asset</i>
                                    </button>
                                </div>
                            </div>
                            <form class="card-content" id="Guest" name="Guest" ng-submit="saveData()" method="post" enctype="multipart/form-data">
                                <div class="col-lg-12">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label">Guest Name</label>
                                            <input type="text" class="form-control" ng-model="Guest.GuestName" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">Id Proof Attachment</label>
                                            <!--<input type="file" name="file" ng-model="Guest.IDProof" class="ng-pristine ng-isolate-scope ng-empty ng-invalid ng-invalid-required ng-touched" required>-->
                                            <input type="file" name="file1" fileread="uploadme" onchange="angular.element(this).scope().selectFileforUpload(this.files)" />
                                            <div class="input-group">
                                                <input type="text" ng-model="imagename" readonly="" class="form-control" placeholder="Select Your ID Proof Adharcard/Voter ID ">
                                                <span class="input-group-btn input-group-s">
                                                    <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-block btn-primary" data-original-title="Multiple Images">
                                                        <i class="material-icons">attachment</i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label class="control-label">Total Guests number</label>
                                            <input type="number" class="form-control" ng-model="Guest.GuestNo">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="control-label">Address</label>
                                            <input type="text" class="form-control" gm-places-autocomplete="autocompleteOptions" ng-model="Guest.Address" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">City</label>
                                            <input type="text" class="form-control" ng-model="Guest.City" required />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">Pin Code</label>
                                            <input type="number" class="form-control" ng-model="Guest.Pincode">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">Email Id</label>
                                            <input type="email" class="form-control" ng-model="Guest.EmailId" />
                                            <!--<span style="color:red" ng-show="studentForm.email.$dirty && studentForm.email.$invalid">
                                                <span ng-show="Guest.EmailId.$error.required">Email is required.</span>
                                                <span ng-show="Guest.EmailId.$error.EmailId">Invalid email address.</span>
                                            </span>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">Guest Group</label>
                                            <input type="text" class="form-control" ng-model="Guest.GuestGroup" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">Contact Number</label>
                                            <input type="number" class="form-control" ng-model="Guest.ContactNo" required />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="control-label">Whatsapp Number</label>
                                            <input type="number" class="form-control" ng-model="Guest.WhatsAppNo" required />
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="control-label">Any Special Requirement</label>

                                            <textarea class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Write any special requirement you have ..." rows="6" ng-model="Guest.AnySpecialRequiremnt"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <input type='submit' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Save' />
                                    <input type='button' class='btn btn-finish btn-fill btn-default btn-wd' name='finish' value='Cancel' ng-click="" />
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addPackages" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-signup">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button type="button" class="close btn btn-round btn-just-icon pull-right" data-dismiss="modal" aria-hidden="true" style="color:#ff0000"><i class="material-icons">clear</i></button>
                    <h2 class="modal-title card-title text-center" id="myModalLabel">Upload by CSV</h2>
                </div>
                <div class="modal-body"  data-ng-init="loadrecord(@Convert.ToInt32(Request.QueryString["id"]))">
                    <div class="row">

                        <div class="col-lg-12">

                            <div class="form-group">
                                <input type="file" name="file1" fileread="uploadme" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                <div class="input-group">
                                    <input type="text" ng-model="imagename" readonly="" class="form-control" placeholder="Select CSV Files to Upload">
                                    <span class="input-group-btn input-group-s">
                                        <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-block btn-primary" data-original-title="Multiple Images">
                                            <i class="material-icons">attachment</i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer text-right">
                    <button id="addScheduleData" class="btn btn-success pull-left" ng-click="SaveGuestByCSV()">
                        <i class="fa fa-paperclip"></i>&nbsp;Upload CSV &nbsp;
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
<div ng-controller="FooterCtrl">
    <div ng-include src="footer.url"></div>
    <script type="text/ng-template" id="Footer.html">
    </script>
</div>

<script>
    $(document).ready(function () {
        $('#btnAdd').css('display', 'block');
        $('#ShowData').css('display', 'block');
        $('#addData').css('display', 'none');
        $('#btnView').css('display', 'none');
        $('#btnSave').css('display', 'none');
        $('#btnUpdate').css('display', 'none');
        $('.ta-toolbar').find('.btn-group').find('button').removeClass('btn-default').addClass('btn-facebook')
    });
    $('#btnAdd').click(function () {
        $('#btnAdd').css('display', 'none');
        $('#ShowData').css('display', 'none');
        $('#addData').css('display', 'block');
        $('#btnView').css('display', 'block');
        $('#btnSave').css('display', 'block');
        $('#btnUpdate').css('display', 'none');
        $('#update').addClass('hidden');
        $('#save').removeClass('hidden');
    })
    $('#btnView').click(function () {
        $('#btnAdd').css('display', 'block');
        $('#ShowData').css('display', 'block');
        $('#addData').css('display', 'none');
        $('#btnView').css('display', 'none');
        $('#btnSave').css('display', 'none');
        $('#btnUpdate').css('display', 'none');
    })
    materialKit.initFormExtendedDatetimepickers();
</script>
