﻿<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<link href="../assets/css/material-dashboard.css" rel="stylesheet" />
<script src="../assets/js/material-dashboard.js"></script>
<link href="../assets/css/material-bootstrap-wizard.css" rel="stylesheet" />
<script src="../assets/js/jquery.bootstrap.js" type="text/javascript"></script>
<!--  Plugin for the Wizard -->
<link href="../assets/css/demo.css" rel="stylesheet" />
<script src="../assets/js/demo.js"></script>
<script src="../assets/js/material-bootstrap-wizard.js"></script>
<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="../assets/js/jquery.validate.min.js"></script>
<script src="../assets/js/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS-VGv7vhkdEmAPxgmEq29Cv0ocGADDoM&libraries=places"></script>

<style>
    .page-header .container {
        padding-top: 26px !important;
        color: #FFF;
    }

    .modal .modal-dialog.modal-signup .card-signup {
        padding: 0 0;
        margin-bottom: 0;
    }

    .ta-editor {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .modal-footer {
        border-top: none;
        padding: 24px !important;
    }
</style>
<style>
    .wizard-card .choice .icon {
        height: 50px !important;
        width: 50px !important;
    }

    .page-header {
        height: 28vh !important;
    }

    .card {
        box-shadow: none !important;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0px;
    }

    /*.moving-tab {
               transform: translate3d(-2px, 3px, 0px) !important;
           }*/
    .signup-page .page-header .container {
        padding-top: 16vh !important;
    }

    .wizard-container {
        padding-top: 0px !important;
        z-index: 3;
    }

    .pricing-1 .section-image:after {
        background-color: transparent !important;
    }

    .backImage {
        width: 100% !important;
        height: 100% !important;
    }

    .footer {
        text-align: center !important;
    }

    #map {
        width: 100%;
        height: 350px;
        margin: 5px 0;
        border-radius: 5px;
        border: 1px solid silver;
    }

    .btn-group, .btn-group-vertical {
        position: relative;
        margin: 0px 1px !important;
    }

    .ta-editor {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
        box-shdaow: none !important;
    }

    .ta-toolbar .btn {
        border-radius: 0;
        padding: 5px;
        min-width: 30px;
        background-color: #fff;
        color: #333;
    }

    [text-angular] {
        position: relative;
    }

    .ta-toolbar {
        position: absolute;
        top: 0;
        right: 0;
    }

    @media all and (max-width: 699px) {
        .ta-toolbar {
            position: absolute;
        }

        .ta-editor {
            padding-top: 30px;
        }
    }

    @media all and (max-width: 250px) {
        .ta-toolbar {
            display: none;
        }
    }

    .ta-toolbar .btn-group {
        margin: 0 !important;
        //box-shadow : 0 1px 3px rgba(0,0,0,0.2);
    }

    .ta-editor {
        border: 1px solid #EEE;
        border-raidus: 3px !important;
    }
</style>

<div class="section-white">

    <div class="navbar navbar-default navbar-fixed-top" ng-controller="SliderMenuCtrl">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="padding:0px 20px">
                    <img src="assets/img/EVENTOVITI-150X150.png" style="width:60px; height:60px" />
                </a>
            </div>
            <div ng-include src="sliderHeader.url"></div>
            <script type="text/ng-template" id="AdminSliderMenu.html">
            </script>
        </div>
    </div>

    <div class="section-space"></div>
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/bg5.jpg');">
        <div class="container">
            <div class="row">
                <!--<div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="title">How We Built the Most Successful Event Managing</h1>
                    <h4>The last 48 hours of my life were total madness. This is what I did.</h4>
                    <br />
                    </div>-->
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple" style="display: flex;">
                                <div class="col-md-10">
                                    <h4 class="title">
                                        Guest List Status
                                    </h4>
                                    <!--<p class="category">Define all veue of vendor or event manager</p>-->
                                </div>
                                <div class="col-md-2">

                                    <button id="btnAdd" class="btn btn-round btn-white btn-just-icon pull-right">
                                        <i class="material-icons">note_add</i>
                                    </button>
                                    <button id="btnView" class="btn btn-round btn-white btn-just-icon pull-right">
                                        <i class="material-icons">web_asset</i>
                                    </button>
                                </div>
                            </div>
                            <form class="card-content" id="Guest" name="Guest" ng-submit="" method="post">
                                <div id="ShowData">
                                    <div class="card-content table-responsive">
                                        <table class="table" ng-init="GetListStatus()">
                                            <thead class="text-primary">
                                            <th class="hidden">Id</th>
                                            <th>Guest Name</th>
                                            <th>Invitation sent Tags</th>
                                            <th>Invitation Accepted/Rejected</th>
                                            <th>Payment Accepted</th>
                                            <th>Added  travel & tracking details</th>
                                            <th>Onboarded</th>
                                            <th>Checked In</th>
                                            <th>Checked Out</th>

                                            <tbody>
                                                <tr ng-show="!TeamMembers.length">
                                                    <td>
                                                        No Pending Calls Found !!
                                                    </td>
                                                </tr>
                                                
                                                <tr ng-repeat="m in TeamMembers">
                                                    <td class="hidden">{{m.Id}}</td>
                                                    <td>{{m.GuestName}}</td>
                                                    <td>{{m.CreatedOn}}</td>
                                                    <td>{{m.GuestStatus}}</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div ng-controller="FooterCtrl">
    <div ng-include src="footer.url"></div>
    <script type="text/ng-template" id="Footer.html">
    </script>
</div>

<script>
    $(document).ready(function () {
        $('#btnAdd').css('display', 'block');
        $('#ShowData').css('display', 'block');
        $('#addData').css('display', 'none');
        $('#btnView').css('display', 'none');
        $('#btnSave').css('display', 'none');
        $('#btnUpdate').css('display', 'none');
        $('.ta-toolbar').find('.btn-group').find('button').removeClass('btn-default').addClass('btn-facebook')
    });
    $('#btnAdd').click(function () {
        $('#btnAdd').css('display', 'none');
        $('#ShowData').css('display', 'none');
        $('#addData').css('display', 'block');
        $('#btnView').css('display', 'block');
        $('#btnSave').css('display', 'block');
        $('#btnUpdate').css('display', 'none');
        $('#update').addClass('hidden');
        $('#save').removeClass('hidden');
    })
    $('#btnView').click(function () {
        $('#btnAdd').css('display', 'block');
        $('#ShowData').css('display', 'block');
        $('#addData').css('display', 'none');
        $('#btnView').css('display', 'none');
        $('#btnSave').css('display', 'none');
        $('#btnUpdate').css('display', 'none');
    })
    materialKit.initFormExtendedDatetimepickers();
</script>
